$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Vegas Nova";
    src: url(../fonts/VegasNova-Black.eot);
    src: url(../fonts/VegasNova-Black.svg);
    src: url(../fonts/VegasNova-Black.woff);
    src: url(../fonts/VegasNova-Black.woff2);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Vegas Nova", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
}

img {
    width: 100%;
}