.hero-bg {
    background-image: url("../img/banner-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 5rem;
}

.hero .row {
    height: 90vh;
    width: 100%;
    margin: 0 !important;
}

.container-fluid {
    padding: 0 !important;
}

.navbar-nav a {
    color: #fff !important;
    margin-right: 0.8rem;
}

.navbar {
    padding: 1rem 2rem;
}

.nav-item {
    font-size: 1.5rem;
}

.heading-primary {
    font-size: 5rem;
    line-height: 4.5rem;
    color: #fff;
    margin-bottom: 2rem;
}

.heading-secondary {
    font-size: 3rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
}

#view-more-btn {
    border-radius: 100px;
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}

.donate-btn {
    border-radius: 100px;
    color: #fff;
    background-color: #67bcb1;
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
}

.main {
    background-image: url(../img/main-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: -4.5rem;
}

.about {
    padding-top: 6rem;
    margin-left: 15rem;
    padding-right: 5rem;
}

.bar {
    width: 5rem;
    height: 0.3rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #67bcb1;
}

.read-more-bar {
    width: 5.5rem;
    height: 0.1rem;
    border-radius: 10px;
    margin-top: 0.3rem;
    background-color: #67bcb1;
}

.heading-tertiary {
    font-size: 1.8rem;
    font-weight: 300;
}

.about-us-heading {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.para {
    font-weight: 300;
    font-size: 1.3rem;
}

.circle {
    margin-top: 2rem;
}

.circle-heading {
    font-weight: 400;
    font-size: 1.8rem;
}

.read-more {
    color: #000;
    align-self: flex-end;
    font-size: 1.5rem;
    line-height: 1.2rem;
}

.read-more:hover {
    color: #67bcb1;
    text-decoration: none;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}

.for-width {
    max-width: 28rem !important;
    margin-right: 5rem;
}

.get-started {
    margin-top: 2rem;
}

.card-header a:hover {
    text-decoration: none;
}

.card-header {
    background: none;
    padding: 1rem 0rem;
    & h5 {
        font-size: 1.5rem;
        font-weight: 300;
        display: flex;
        justify-content: space-between;
        color: #3e3e3e;
    }
}

.card-body {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 2rem 0rem;
}

.card {
    border: none;
}

.fa-angle-down {
    padding: 0.5rem;
    border-radius: 100px;
    color: #fff;
    background-color: #394e82;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-part {
    background-color: #67bcb1;
}

.testimonial-heading {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    padding-top: 5rem;
}

.footer-row {
    margin: 0 !important;
}

.for-padding {
    padding-bottom: 5rem;
}

.testimonial {
    padding: 0px 20px;
    margin: 70px 15px 35px;
    position: relative;
    color: #fff;
}

.testimonial .description {
    font-size: 22px;
    color: #fff;
    line-height: 27px;
    margin-bottom: 20px;
    position: relative;
}

.testimonial .testimonial-profile {
    position: relative;
    margin: 20px 0 10px 0;
}

.testimonial .title {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}

.testimonial .post {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}

.owl-theme .owl-controls {
    margin-top: 10px;
}

.owl-theme .owl-controls .owl-page span {
    background: #fff;
    opacity: 1;
    transition: all 0.4s ease 0s;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 22px;
    height: 12px;
}

.footer-content {
    background-color: #111624;
    padding-top: 5rem;
    padding-left: 5rem;
}

.footer-logo {
    width: 20rem;
}

.footer-list {
    list-style: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-list a {
    color: #fff;
    text-decoration: none;
}

.footer-quick-links {
    padding-top: 3rem;
}

#volunteer-btn {
    background: none;
    border: 1px solid #fff;
    padding: 0.5rem 1.3rem;
}

.social-heading {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    margin-top: 1rem;
}

.social-links-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 8rem;
    color: #fff;
    font-size: 1.5rem;
}

.social-links-list a {
    color: #fff;
    text-decoration: none;
}

.form-subscribe {
    max-width: 600px;
}

.form-subscribe .form-control {
    background: transparent;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: 1px;
    border: 1px solid #67bcb1;
}

.form-subscribe .form-control.focus,
.form-subscribe .form-control:focus {
    z-index: 2;
    background-color: transparent;
    border: 1px solid #67bcb1;
}

.form-subscribe .btn {
    background: #67bcb1;
    border-color: #67bcb1;
    height: 46.5px;
    border: 1px solid #67bcb1;
    font-size: 1.3rem;
    font-weight: 300;
}

.input-lg,
.subscribe-btn {
    border-radius: 0;
}

.copyright {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
}

.navbar-default {
    transition: 500ms ease;
    background: transparent;
}

.navbar-default.scrolled {
    background: #000;
}

.nav-active {
    background-color: #000 !important;
    box-shadow: 5px -1px 12px -5px grey;
}

.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ececec;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}

#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}

.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190e7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0, 0, 0, 0.12), 0 5px 7px rgba(0, 0, 0, 0.05);
}

#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom: 80px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190e7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}

#customers-testimonials.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190e7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

@media only screen and (max-width: $bp-small) {
    .navbar-brand {
        width: 10rem;
    }
    .heading-primary {
        font-size: 2rem;
    }
    .heading-secondary {
        font-size: 1.3rem;
    }
    .heading-tertiary {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .hero-bg {
        padding: 0 1rem;
    }
    .hero .row {
        height: 60vh;
    }
    .main {
        margin: 0;
        background: none;
    }
    .about {
        margin-left: 0rem;
        padding-top: 2rem;
        padding-right: 2rem;
    }
    .about-us-heading {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .for-width {
        margin-right: 0rem;
    }
    .bar {
        margin-bottom: 1rem;
    }
    .circle-heading {
        font-size: 1.4rem;
    }
    .flex-end {
        display: block;
    }
    .card-body {
        padding: 1rem 0;
    }
    .footer-content {
        padding-left: 1rem;
    }
    .mob-quick-width {
        max-width: 50%;
        margin-bottom: 2rem;
    }
    .collapse.show {
        background-color: #fff;
        padding: 1rem;
    }
    .card .collapse.show {
        padding: 0;
    }
    .navbar-nav a {
        color: #000 !important;
    }
    .navbar {
        padding: 0;
    }
    .navbar-brand {
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .navbar-toggler {
        margin-top: 1rem;
        margin-right: 1rem;
    }
    .navbar-toggler-icon {
        background-image: none !important;
    }
    .navbar-toggler-icon i {
        font-size: 1.5rem;
        color: #fff;
    }
    .navbar-light .navbar-toggler {
        border-color: unset;
    }
    button:focus {
        outline: none !important;
    }
    .donate-btn-mob {
        width: 10rem;
    }
    .navbar-default {
        transition: unset;
    }
    .testimonial-heading {
        padding-top: 2rem;
    }
    .footer-logo {
        width: 15rem;
    }
    .navbar-toggler {
        border: none !important;
    }
}